.exchange-section {
        
    color: #fff; 
    padding: 20px;
    font-weight: bold;
    
}

.card {
    margin-top: 30px;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    margin-bottom: 30px;
}

.card-title {
    font-weight: bold;
    color: #fff;
}

.card-text{
    color:#fff;
}
.card:hover {
    background-color: #000000; 
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

.price {
    font-weight: bold;
    color: #ff9900;
}

.card-img-top {
    object-fit: cover;
    width: 100px;
    
}

.Ethereum-section{
    background-color:#1c242a ;
    margin-bottom: 30px;
}

.space{
    margin-bottom: 170px;
}