.Heading-style{
    color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
}

.App-card {
    background-color: #1c242a;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.App-card:hover {
    background-color: #000000; 
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}


.App-card-title {
    font-size: 26px;
    font-weight: bold;
    color: #fff;
}


.App-card-content {
    margin-top: 20px;
    font-size: 20px;
}


.App-card-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}


.label {
    font-weight: bold;
}


.Tooltip {
    position: relative;
    cursor: pointer;
}

.Tooltip-handle {
    display: block;
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1c242a;
    color: #fff;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 1;
}

.p-color{
    color:#fff
}
.spacing-between{
    margin-bottom: 197px;
}

.space{
    margin-bottom: 30px;
}